:root{
    --color-Prime1-PaleBlue: hsl(225, 100%, 94%);
    --color-Prime2-BrightBlue: hsl(245, 75%, 52%);
    
    --color-Netural-VeryPaleBlue: hsl(225, 100%, 98%);
    --color-Netural-DesaturedBlue: hsl(224, 23%, 55%);
    --color-Netural-DarkBlue: hsl(223, 47%, 23%);
    
    --fontWeight-Reg: 500;
    --fontWeight-LitBold: 700;
    --fontWeight-Blod: 900;
    --fontSize-Paragraph: 16px;

    --mobileSize: 375px;
    --desktopSize: 1440px;
    
    --myFontFamily: 'Red Hat Display', sans-serif;


}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
html{
  font-size: 62.5%;
}
body{
  font-family: var(--myFontFamily), sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-Prime1-PaleBlue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.summary-container{
  background-color: white;
  max-width: 45rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.15);
}
/* summery content */ 
.summary-img{
  width: 100%;
}
.summary-content{
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--color-Netural-DesaturedBlue);
  padding: 4.8rem;

}
.summary-title{
  font-size: 2.8rem;
  font-weight: var(--fontWeight-Blod);
  color: var(--color-Netural-DarkBlue);
}

.summary-description{
  line-height: 2.6rem;
  font-weight: var(--fontWeight-Reg);
  margin: 2rem 0;

}

/* plan box */
.plan-box{
  background-color: var(--color-Netural-VeryPaleBlue) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  margin-bottom: 3.2rem;
  text-align: left;
  border-radius: 11px;
}
.plan-box-left{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sub-title{
  font-size: 1.6rem;
  font-weight: var(--fontWeight-Blod);
  color: var(--color-Netural-DarkBlue);
  font-size: 1.6rem;
}
.btn-change:link,
.btn-change:visited{
  color: var(--color-Prime2-BrightBlue);
  font-size: 1.4rem;
  font-weight: var(--fontWeight-LitBold);

}
.btn-change:hover,
.btn-change:active{
  color: #948ddf;
}


/*buttons proceed and cancel*/
.btn-pay{
  font-family: var(--myFontFamily);
  font-size: 1.5rem;
  font-weight: var(--fontWeight-Blod);
  border: none;
  border-radius: 11px;
  padding: 1.5rem 0;
  background: #382AE1;
  box-shadow: 0px 20px 20px 0px rgba(56, 42, 225, 0.19);
  margin-bottom: 3.2rem;
  color: #FFF;

}
.btn-pay:hover{
  cursor: pointer;
  background-color: #2215aa;
}
.btn-cancel:link,
.btn-cancel:visited {
  color: var(--color-Netural-DesaturedBlue);
  font-size: 1.5rem;
  font-family: Red Hat Display;
  font-weight: var(--fontWeight-Blod);
  text-decoration: none;

}

.btn-cancel:hover,
.btn-cancel:active {
  color: #4141b8 ;

}

/*desktop version and mobile version*/
@media(max-width:48em){
  body{
    background-image: url(./images/pattern-background-mobile.svg);
  }
  .summary-container{
    max-width: 32.7rem;

  }

  .summary-title{
    font-size: 2.2rem;
  }
  .sub-title{
    font-size: 1.4rem;
  }
  .summary-content{
    font-size: 1.6rem;
    padding: 2.4rem;
  }
  .plan-box{
    padding: 1.6rem;
  }
  .plan-box-left{
    gap: 1.5rem;
  }
  .btn-change:link{
    font-size: 1.3rem;
  }
  .btn-cancel:link{
    font-size: 1.5rem;
  }
}
